.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-info {
    margin-bottom: 1.5rem;
}

.update-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.update-buttons .edit-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.update-buttons .edit-button:hover {
    background-color: #2980b9;
}

/* Ürün Ekle Butonu */
.product-add-button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}

.product-add-button:hover {
    background-color: #2980b9;
}

.logout-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 1.5rem;
}

.logout-button:hover {
    background-color: #2980b9;
}
